* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

.body {
    position: relative;
    margin: 0 4rem;
    background-color: #88939e;
    .header {
        text-align: center;
        padding: 1rem;
        background-color: #202127;
        color: #f1f1f1;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
        gap: 6rem;
        margin: 2rem 0;
        background-color: #202127;
        padding: 2rem;
        padding-bottom: 10rem;

        .figureStyle {
            color: #f1f1f1;
            text-align: center;
            .figcaptionStyle {
                font-size: 1.5rem;
                font-weight: bold;
            }
            .imgStyle {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
                margin-bottom: 0.5rem;
            }
        }
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem;
        background-color: #202127;
        color: #f1f1f1;
    }
}
